@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

@import "tailwindcss";

@theme {
  --font-ShareTech: "Share Tech", sans-serif;
  --font-txtBold: "Kanit", sans-serif;
  --font-pixel: "Pixelify Sans", "sans-serif";
  --color-zzbase: #f0f0f0;
  --color-zzcontrast: #030303;
  --color-zzlink: #646cff;
}
/* sunny-landscape.png */
body {
  background-color: #030303;
  background-image: url("/assets/foggy-landscape.jpg "); /* Adjust path if using src/assets */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  backdrop-filter: brightness(50%);

  font-family: var(--font-ShareTech);
  font-size: 0.75rem;
  color: var(--color-zzbase);
}

input:hover,
input:active,
button:active,
button:hover {
  border-color: var(--color-zzlink);
  background-color: var(--color-zzlink);
  color: var(--color-zzbase);
  @apply border-2 hover:scale-101 active:scale-98;
}

input,
textarea,
button {
  outline: none;
  cursor: pointer;
  @apply font-txtBold;
}

input,
button {
  @apply border-2 py-2 px-5 transition-all ease-out duration-150;
}

.delayed {
  @apply transition-all ease-out duration-150;
}

h1 {
  @apply font-extrabold text-3xl md:text-4xl;
}
h2 {
  @apply font-extrabold text-xl md:text-3xl;
}
h3 {
  @apply text-sm md:text-xl;
}
