@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: #191919;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:hover,
input:active,
button:active,
button:hover {
  border-color: #646cff;
  color: #646cff;
  @apply border-2 scale-105;
}

a {
  font-weight: 700;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #ffffff;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
  font-weight: 700;
}

input,
textarea,
button {
  outline: none;
  cursor: pointer;
}
