@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");
@import "tailwindcss";

@theme {
  --font-funnel: "Funnel", sans-serif;
  --font-Michroma: "Michroma", sans-serif;
  --color-zzbase: #212121;
  --color-zzcontrast: #fff;
  --color-zzlink: #625deb;
}

body {
  font-family: var(--font-Michroma);
  font-size: 0.75rem;
}

input:hover,
input:active,
button:active,
button:hover {
  border-color: #646cff;
  color: #646cff;
  @apply border-2 hover:scale-101 active:scale-98;
}

input,
textarea,
button {
  outline: none;
  cursor: pointer;
}

input,
button {
  @apply border-2 py-2 px-5 transition-all ease-out duration-150;
}

.delayed {
  @apply transition-all ease-out duration-150;
}
